<a href="https://colab.research.google.com/github/pcpiscator/2T2021/blob/main/Experi%C3%AAncias_TCE_PB_Limpeza_e_Tratamento_da_Base%20TESTE02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
pip install mpl_finance

Requirement already satisfied: mpl_finance in /usr/local/lib/python3.7/dist-packages (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mpl_finance) (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (1.19.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (1.3.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->mpl_finance) (1.15.0)

In [65]:
# bibliotecas para análise de dados
import numpy as np
import pandas as pd
# bibliotecas para gráficos 
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.offline as py
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.float_format = '{:.2f}'.format
# bibliotecas para visualização
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import matplotlib.dates as mpl_dates
import sklearn
# configuração para ignorar mensagens de advertência (warning). 
import warnings
warnings.filterwarnings('ignore')


plt.style.use('ggplot')

In [92]:
data = pd.read_csv('https://raw.githubusercontent.com/pcpiscator/2T2021/main/tce_pb_Nova2.csv', sep=';', encoding='latin_1', low_memory=False)

In [76]:
data.head()

,ident_licit,modalidade,cd_ugestora,valor_licitado,ano_homologacao,cnpj_proponente,valor_proposta,situacao_proposta
0,16320,Pregao Presencial,201165.00,15407200.00,2020.00,"1,1501E+13",7140000,1.00
1,16320,Pregao Presencial,201165.00,5217950.00,2020.00,"1,93827E+13",8240000,0.00
2,16320,Pregao Presencial,201165.00,15407200.00,2020.00,"1,99048E+13",8860000,1.00
3,16619,Pregao Presencial,201051.00,24225387.00,2019.00,"1,1015E+13",6166800,1.00
4,17819,Pregao Presencial,201051.00,24225387.00,2019.00,"4,45163E+12",3349904,1.00

In [77]:
#Criação de uma base com os dados originais não tratados para eventual necessidade futura
base_original = data

In [78]:
data.columns

Index(['ident_licit', 'modalidade', 'cd_ugestora', 'valor_licitado',
       'ano_homologacao', 'cnpj_proponente', 'valor_proposta',
       'situacao_proposta'],
      dtype='object')

In [82]:




#eliminamos todas as linhas que tenham valores nulos
data = data.dropna(subset = ['ident_licit','modalidade','cd_ugestora','valor_licitado','ano_homologacao', 'cnpj_proponente', 'valor_proposta', 'situacao_proposta'])

#Eliminamos todas que não forem Convite, Tomada de Preços e Dispensa (8.666)
#data3['ano_homologacao'] = data3.ano_homologacao.astype(int)
#data3['valor_licitado'] = data3.valor_licitado.astype(int)
#data4 =data3.loc[ (data3.modalidade == 'Convite') | (data3.modalidade == 'Tomada de Preços')
#| (data3.modalidade == 'Art. 24 - Lei 8.666/93') ]


#Conversão do tipo do atributo "valor_proposta" de str para int
#data['valor_proposta'] = data['valor_proposta'].astype(str).astype(int)

#Transformo a informação da coluna "situacao_proposta" em valores de 0 e 1
#data['situacao_proposta'] = data['situacao_proposta'].map({'Vencedora': 1, 'Perdedora': 0})

#Elimina todos os campos da variávem "cpf_cnpj_proponente" com comprimento menor que 12 ou seja, todos os CPF's
#data6 = data5[data5['cpf_cnpj_proponente'].str.len() > 11]

#Renomeia a coluna "cpf_cnpj_proponente" para "cnpj_proponente"
#data.rename(columns={'cpf_cnpj_proponente': 'cnpj_proponente'}, inplace=True)

#Conversão do tipo de atributo "cnpj_proponente" de str para int
#data['cnpj_proponente'] = data['cnpj_proponente'].astype(str).astype(int)

#Cria uma coluna chamada ident_licit, inicialmente vazia e que receberá os valores da coluna protocolo alterados e a coloca na primeira posição
#data["ident_licit"] = ""
#data=data.reindex(columns=['ident_licit','protocolo', 'numero_licitacao', 'modalidade', 'cd_ugestora','valor_licitado', 'ano_homologacao', 'cnpj_proponente',
#'valor_proposta', 'situacao_proposta'])

In [83]:
data.columns

Index(['ident_licit', 'modalidade', 'cd_ugestora', 'valor_licitado',
       'ano_homologacao', 'cnpj_proponente', 'valor_proposta',
       'situacao_proposta'],
      dtype='object')

In [88]:
#Eliminação dos caracteres especiais do atributo "protocolo"
#data['protocolo']  = data['protocolo'].str.replace('r'/,"")

#Eliminação das expressões "Doc. " e Prot. " do atributo "protocolo"
##data['protocolo']  = data['protocolo'].str.replace("Proc","")

#A coluna "ident_licit" recebe os valores da coluna "protocolo" e esta é eliminada juntamente com a coluna "numero_licitacao"
#data['ident_licit']  = data['protocolo']
#data = data.drop(['protocolo','numero_licitacao'], axis = 1)

#Conversão do tipo do atributo "ident_licit" para inteiro
#data['ident_licit'] = data['ident_licit'].astype(str).astype(int)

In [89]:
data.columns

Index(['ident_licit', 'modalidade', 'cd_ugestora', 'valor_licitado',
       'ano_homologacao', 'cnpj_proponente', 'valor_proposta',
       'situacao_proposta'],
      dtype='object')

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29618 entries, 0 to 30361
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ident_licit        29618 non-null  object
 1   modalidade         29618 non-null  object
 2   cd_ugestora        29618 non-null  float64
 3   valor_licitado     29618 non-null  float64
 4   ano_homologacao    29618 non-null  float64
 5   cnpj_proponente    29618 non-null  object
 6   valor_proposta     29618 non-null  object
 7   situacao_proposta  29618 non-null  float64
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [86]:
data.head()

,ident_licit,modalidade,cd_ugestora,valor_licitado,ano_homologacao,cnpj_proponente,valor_proposta,situacao_proposta
0,16320,Pregao Presencial,201165.00,15407200.00,2020.00,"1,1501E+13",7140000,1.00
1,16320,Pregao Presencial,201165.00,5217950.00,2020.00,"1,93827E+13",8240000,0.00
2,16320,Pregao Presencial,201165.00,15407200.00,2020.00,"1,99048E+13",8860000,1.00
3,16619,Pregao Presencial,201051.00,24225387.00,2019.00,"1,1015E+13",6166800,1.00
4,17819,Pregao Presencial,201051.00,24225387.00,2019.00,"4,45163E+12",3349904,1.00

In [94]:
#Criação de uma Matriz de Correlação entre os atributos numéricos
correlacao = data.corr()
correlacao.style.background_gradient(cmap='Blues')

In [ ]:
#Geração, no GDrive, de um arquivo csv com as alterações efetuadas.
#data7.to_csv('/content/drive/MyDrive/00 - Pós Ciência de Dados/99 - TCC/PROJETO 00 - TCC Grupo/01 - Bases Candidatas/02 - TCE PB - Experiência com o Colab/data7.CSV', sep=',', encoding='utf-8')

## ALGUNS CÓDIGOS QUE PODEM VIR A SER ÚTEIS

In [ ]:
# mapeia cada valor da variável Embarked em um valor numérico
#mapeamento_embarked = {"S": 1, "C": 2, "Q": 3}
#treinamento_df['Embarked'] = treinamento_df['Embarked'].map(mapeamento_embarked)
#teste_df['Embarked'] = teste_df['Embarked'].map(mapeamento_embarked)