<a href="https://colab.research.google.com/github/pcpiscator/2T2021/blob/main/PlanTrab__TCE_PB_Tratado_v_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install mpl_finance

Collecting mpl_finance
  Downloading mpl_finance-0.10.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mpl_finance) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (1.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->mpl_finance) (1.15.0)
Installing collected packages: mpl-finance
Successfully installed mpl-finance-0.10.1

In [1]:
# bibliotecas para análise de dados
import numpy as np
import pandas as pd
# bibliotecas para gráficos 
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import plotly.offline as py
pd.options.display.max_columns = None
pd.options.display.max_rows = None
pd.options.display.float_format = '{:.2f}'.format
# bibliotecas para visualização
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import matplotlib.dates as mpl_dates
import sklearn
# configuração para ignorar mensagens de advertência (warning). 
import warnings
warnings.filterwarnings('ignore')


plt.style.use('ggplot')

In [2]:
data = pd.read_csv('/content/PlanTrab v.02.csv', sep=';', encoding='latin_1', low_memory=False)

In [3]:
data.columns

Index(['protocolo', 'cd_ugestora', 'valor_licitado', 'ano_homologacao',
       'cnpj_proponente', 'valor_proposta', 'situacao_proposta'],
      dtype='object')

In [4]:
data.head(5)

,protocolo,cd_ugestora,valor_licitado,ano_homologacao,cnpj_proponente,valor_proposta,situacao_proposta
0,973914,201114,14627450,2014,2020085000103,14777359,0
1,973914,201114,14627450,2014,12068129000110,14777359,0
2,973914,201114,14627450,2014,11268357000171,14627450,1
3,974114,201114,2250010,2014,41577669000128,2291900,0
4,974114,201114,2250010,2014,2020085000103,2257576,0

In [5]:
data.columns

Index(['protocolo', 'cd_ugestora', 'valor_licitado', 'ano_homologacao',
       'cnpj_proponente', 'valor_proposta', 'situacao_proposta'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   protocolo          4008 non-null   int64
 1   cd_ugestora        4008 non-null   int64
 2   valor_licitado     4008 non-null   int64
 3   ano_homologacao    4008 non-null   int64
 4   cnpj_proponente    4008 non-null   int64
 5   valor_proposta     4008 non-null   int64
 6   situacao_proposta  4008 non-null   int64
dtypes: int64(7)
memory usage: 219.3 KB

In [14]:
#Conversão do tipo do atributo "valor_proposta" de str para int
#data['valor_proposta'] = data['valor_proposta'].astype(str).astype(int)

In [15]:
#Criação de uma Matriz de Correlação entre os atributos numéricos
correlacao = data.corr()
correlacao.style.background_gradient(cmap='Blues')

## ALGUNS CÓDIGOS QUE PODEM VIR A SER ÚTEIS

In [ ]:
# mapeia cada valor da variável Embarked em um valor numérico
#mapeamento_embarked = {"S": 1, "C": 2, "Q": 3}
#treinamento_df['Embarked'] = treinamento_df['Embarked'].map(mapeamento_embarked)
#teste_df['Embarked'] = teste_df['Embarked'].map(mapeamento_embarked)